<!DOCTYPE <!DOCTYPE html>
<html>
<header>D&D Design</header>
<head>
<link rel="stylesheet" type="text/css" href="/styles.css">
	<title>D&D CRM</title>
</head>
	<body>
		<nav>
		<%= yield %>
		</nav>
		<img class="displayed"src="https://s-media-cache-ak0.pinimg.com/236x/27/db/53/27db5357cf947f8bb731a1709d14fcfd.jpg"/>	
	</body>
<footer>Created by: Dan Manns</footer>
</html>
